<div class="page-content">
    <div class="product-page">
	<div class="product-desc">
		<div class="product-desc-image">
			<img src={{%IMAGE%}} width="280" height="320">
		</div>
			<div class="product-details-info">
				<h1>{{%NAME%}}</h1>
				<h2 style="color: green;">${{%PRICE%}}</h2>
				<div class="product-desc-details">
					<h3">Product Details</h3>
					<p class="product-desc-p">{{%SIZE%}}</p>
					<p class="product-desc-p">{{%CAMERA%}}</p>
					<p class="product-desc-p"><b>Model Number</b>{{%MODELNO%}}</p>
					<p class="product-desc-p"><b>Model Name</b>{{%MODELNAME%}}</p>
					<p class="product-desc-p"><b>ROM</b>{{%ROM%}} GB</p>
				</div>
				<div class="product-details-desc">
					<h3>Product Description</h3>
					<p class="product-desc-p">
						{{%DESC%}}
					</p>
				</div>
			</div>
			<div>
				<a href="/products" class="btn-back">Back</a>
			</div>
		</div>
	</div>
 </div>